.link {
    border: teal 1px solid;
    padding: 5px;
    color: white;
    background-color: teal;
    font-size: 18px;
    border-radius: 5px;
}

.smallLink {
    padding: 2px 5px;
    font-size: 14px;
}

.link:hover {
    color: white;
    text-decoration: none;
}