.myInput {
    width: auto;
    border-radius: 5px;
    border: 1px black solid;
}

.myInputBlock {
    display: block;
}

.myInput:focus {
    border: 1px rgba(0, 150, 200, 0.99) solid;
}

.myInput:hover {
    border: 1px rgba(0, 150, 200, 0.99) s;
}

.validation {
    display: inline-block;
    margin-left: 5px;
    padding: 0px;
}

.incorrectInput {
    border: red;
}

.inputRules {
    margin: 0px;
    width: auto;
    font-weight: bold;
    font-size: 14px;
    color: darkred;
}

.correctMark {
    background: url("../../../assets/check-mark.png") 50% 50% no-repeat;
    background-size: contain;
    height: 15px;
    width: 20px;
}