.myBtn {
    padding: 5px 5px;
    color: white;
    background-color: teal;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid teal;
    cursor: pointer;
    display: inline-block;
}

.small {
    padding: 2px 3px;
    font-weight: normal;
    height: 30px;
}

.pageButton {
    background-color: white;
    color: teal;
    width: 35px;
    height: 35px;
    font-weight: normal;
    margin: 5px;
}

.activePage {
    font-weight: bold;
    color: white;
    background-color: teal;
}

.myBtn:disabled {
    background-color: rgba(150, 150, 150, 0.5);
    border: 1px solid rgba(150, 150, 150, 0.5);
    cursor: not-allowed;
}

.rounded {
    border-radius: 5px;
}

.group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.inline-group {
    margin-top: 0px;
    justify-self: center;
}

.red {
    color: white;
    border: red;
    background: red;
}

.splitter {
    height: auto;
    width: 1px;
    margin: 0px 2px;
    display: inline-block;
}